# Variables de entorno requeridas para ESPEChat

# Cadena de conexión a MongoDB
# Local: mongodb://localhost:27017/espechat
# Atlas:  mongodb+srv://<user>:<password>@cluster.mongodb.net/espechat
MONGO_URI=mongodb://localhost:27017/espechat

# Puerto en el que corre el servidor (opcional, por defecto 3000)
PORT=3000
